body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}
h1{
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: calc(var(--font-size) + 80px);
  line-height: calc(var(--line-height) + 86px);
  letter-spacing: -2.4px;
  margin: 0;
  margin-bottom: var(--margin-bottom);
}
h2{
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: calc(var(--font-size) + 32px);
  line-height: 120%;
}
.banner-section{
  padding-top: 120px;
  padding-bottom: 80px;
  background: linear-gradient(41.51deg, #FFFFFF 54.39%, #FFF8E9 94.67%);
  text-align: center;
}
.banner-top-heading{
  font-family: var(--primary-font);
  font-weight: calc(var(--font-weight) + 100);
  font-size: var(--font-size);
  line-height: calc(var(--line-height) + 2px);
  text-align: center;
  border:1px solid #B6BCCD;
  padding: 8px 12px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0px 10px 18px 0px #3A4C921A;
  margin-bottom: var(--margin-bottom);
}
.banner-subheading{
  font-family: var(--secondary-font);
  font-weight: calc(var(--font-weight) + 300);
  font-size: calc(var(--font-size) + 38px);
  line-height: calc(var(--line-height) + 30px);
  letter-spacing: 0px;
  color:#0A0A0A;
  background-image: url(assets/subheading_bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: var(--margin-bottom);
}
p{
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: calc(var(--font-size) + 8px);
  line-height: calc(var(--line-height) + 6px);
}
.primary-btn{
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: calc(var(--font-size) + 2px);
  line-height: calc(var(--line-height) + 4px);
  background-color: #F3F5F9;
  border-radius: 26px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.primary-btn:hover{
  box-shadow: 0px 8px 10px -6px #0000001A;
  transform: translateY(-2px);
}
.banner-section p{
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: calc(var(--margin-bottom) + 16px);
}
.video-section{
  background-image: url(assets/video-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.video-section .spacer{
  min-height: 430px;
}
.logo-section{
  padding:102px 0px ;
  background: #387FF50D;
}
.myGradient {
  position: relative;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.app-section{
  padding-top: 120px;
  padding-bottom: 120px;
  background: linear-gradient(44.81deg, rgba(255, 248, 233, 0.5372) 55.17%, rgba(255, 255, 255, 0.6794) 95.1%);
}
.app-container{
  border: 1px solid var(--Primary-PR600, #387FF5);
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 48px 24px;
  box-shadow: 0px 2px 6px 0px #3881f53d;
}
.app-container .content p, .solo-section p{
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: calc(var(--font-size) +4px );
  line-height: 150%;
  color:#727272;
}
.app-container .content h2 span, .solo-section h2 span, .why-section h2 span{
    position: relative;
    z-index: 9;
}
.why-section h2 span:before{
  background-image: url(assets/whytext-bg.png)!important;
}
.app-container .content h2 span:before, .solo-section h2 span:before, .why-section h2 span:before {
    background-image: url(assets/subheading_bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    width: 115%;
    right: -25px;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.solo-section h2 span:before{
    width: 100%;
    right: 0px;
}
.dashboard-section{
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(/assets/dashboard-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.solo-section{
  padding-top: 120px;
  padding-bottom: 20px;
  background: linear-gradient(44.81deg, rgba(255, 248, 233, 0.5372) 55.17%, rgba(255, 255, 255, 0.6794) 95.1%);
}
.works-section{
  padding-top: 120px;
  padding-bottom: 120px;
  background: #4A66D6;
}
.works-section .top-circle:after{
  content: " ";
  background-image: url(/assets/top-half-circle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: 0;
  width: 140px;
  overflow: visible;
  height: 140px;
}
.bottom-circle{
  flex-direction: column;
  margin-top: -75px;
  margin-left: 71px;
}
.bottom-circle h5{
  font-family: var(--primary-font);
  font-weight: cal(var(--font-weight) +200);
  font-size: calc(var(--font-size) + 16px);
  line-height: 100%;
}
.bottom-circle p{
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: calc(var(--line-height) + 4px);
}
.works-section .bottom-circle:after{
  content: " ";
  background-image: url(/assets/bottom-half-circle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: 0;
  width: 211px;
  overflow: visible;
  height: 211px;
}
.why-section{
  padding-top: 120px;
  padding-bottom: 120px;
}